<%= form_for(@commerce) do |f| %>
  <% if @commerce.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commerce.errors.count, "error") %> prohibited this commerce from being saved:</h2>

      <ul>
      <% @commerce.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<% @tags = Sscategorie.all %>

	<div class="field">
		<%= f.label :enseigne %><br/>
		<%= f.text_field :enseigne %>
	</div>
<div class="field">
	<%= f.label :id %><br/>
	<%= f.text_field :id %> 
</div>
<div class="field">
	<%= f.label :line%><br/>
	<%= f.text_field :line%> 
</div>
<div class="field">
	<%= f.label :siret %><br/>
	<%= f.text_field :siret %> 
</div>
<div class="field">
	<%= f.label :enseigne%><br/>
	<%= f.text_field :enseigne%> 
</div>
<div class="field">
	<%= f.label :rasoc %><br/>
	<%= f.text_field :rasoc %> 
</div>
<div class="field">
	<%= f.label :description %><br/>
	<%= f.text_field :description %>
</div>
<div class="field">
	<%= f.label :facebook %><br/>
	<%= f.text_field :facebook %>
</div>
<div class="field">
	<%= f.label :date_deb_act %><br/>
	<%= f.text_field :date_deb_act %> 
</div>
<div class="field">
	<%= f.label :date_rad %><br/>
	<%= f.text_field :date_rad %> 
</div>
<div class="field">
	<%= f.label :code_ape %><br/>
	<%= f.text_field :code_ape%> 
</div>
<div class="field">
	<%= f.label :label_ape %><br/>
	<%= f.text_field :label_ape %> 
</div>
<div class="field">
	<%= f.label :zone_ape %><br/>
	<%= f.text_field :zone_ape %> 
</div>
<div class="field">
	<%= f.label :label_zone_ape %><br/>
	<%= f.text_field :label_zone_ape %> 
</div>
<div class="field">
	<%= f.label :street_num %><br/>
	<%= f.text_field :street_num %> 
</div>
<div class="field">
	<%= f.label :street_name %><br/>
	<%= f.text_field :street_name %> 
</div>
<div class="field">
	<%= f.label :sort_street_name %><br/>
	<%= f.text_field :sort_street_name %> 
</div>
<div class="field">
	<%= f.label :city_code %><br/>
	<%= f.text_field :city_code %> 
</div>
<div class="field">
	<%= f.label :city_label %><br/>
	<%= f.text_field :city_label %> 
</div>
<div class="field">
	<%= f.label :epci2014 %><br/>
	<%= f.text_field :epci2014 %> 
</div>
<div class="field">
	<%= f.label :phone_num %><br/>
	<%= f.text_field :phone_num %> 
</div>
<div class="field">
	<%= f.label :fax_num %><br/>
	<%= f.text_field :fax_num %> 
</div>
<div class="field">
	<%= f.label :email %><br/>
	<%= f.text_field :email %> 
</div>
<div class="field">
	<%= f.label :street_number %><br/>
	<%= f.text_field :street_number%> 
</div>
<div class="field">
	<%= f.label :route %><br/>
	<%= f.text_field :route %> 
</div>
<div class="field">
	<%= f.label :city %><br/>
	<%= f.text_field :city %> 
</div>
<div class="field">
	<%= f.label :dptmt %><br/>
	<%= f.text_field :dptmt %> 
</div>
<div class="field">
	<%= f.label :region %><br/>
	<%= f.text_field :region %> 
</div>
<div class="field">
	<%= f.label :country %><br/>
	<%= f.text_field :country %> 
</div>
<div class="field">
	<%= f.label :postal_code %><br/>
	<%= f.text_field :postal_code %> 
</div>
<div class="field">
	<%= f.label :location_lat %><br/>
	<%= f.text_field :location_lat %> 
</div>
<div class="field">
	<%= f.label :location_lng %><br/>
	<%= f.text_field :location_lng %> 
</div>
<div class="field">
	<%= f.label :location_type %><br/>
	<%= f.text_field :location_type %> 
</div>
<div class="field">
	<%= f.label :google_place_id %><br/>
	<%= f.text_field :google_place_id %> 
</div>
<div class="field">
	<%= f.label :vp_ne_lat %><br/>
	<%= f.text_field :vp_ne_lat %> 
</div>
<div class="field">
	<%= f.label :vp_ne_lng %><br/>
	<%= f.text_field :vp_ne_lng %> 
</div>
<div class="field">
	<%= f.label :vp_sw_lat %><br/>
	<%= f.text_field :vp_sw_lat %> 
</div>
<div class="field">
	<%= f.label :vp_sw_lng %><br/>
	<%= f.text_field :vp_sw_lng %> 
</div>
<div class="field">
	<%= f.label :tag0 %><br/>
	<%= f.collection_select :tag0, @tags.order(:nom), :id, :nom, {:selected => @commerce.tag0 || 0}   %>
</div>
<div class="field">
	<%= f.label :tag1 %><br/>
	<%= f.collection_select :tag1, @tags.order(:nom), :id, :nom, {:selected => @commerce.tag1 || 0}   %>
</div>
<div class="field">
	<%= f.label :tag2 %></br>
	<%= f.collection_select :tag2, @tags.order(:nom), :id, :nom, {:selected => @commerce.tag2 || 0}   %>
</div>
<div class="field">
	<%= f.label :tag3 %><br/>
	<%= f.collection_select :tag3, @tags.order(:nom), :id, :nom, {:selected => @commerce.tag3 || 0}   %>
</div>
<div class="field">
	<%= f.label :db_add_date %><br/>
	<%= f.text_field :db_add_date %> 
</div>
	

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
