<h1>Editing Commerce</h1>
<%= stylesheet_link_tag "commerces_edit.css" %>

<%= render 'form' %>


<% if @current_user.status == 'admin' %>
	<%= link_to 'Détail', @commerce %> |
	<%= link_to 'Retour', commerces_path %>
<% else %>
	<%= link_to 'Retour', user_path(@current_user.id) %>
<% end %>
