<p id="notice"><%= notice %></p>

<h1>Listing Commerces</h1>

<%= link_to 'New Commerce', new_commerce_path %>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commerces.order('enseigne').each do |commerce| %>
      <tr>
	<td><%= commerce.enseigne %></td>
        <td><%= link_to 'Show', commerce %></td>
        <td><%= link_to 'Edit', edit_commerce_path(commerce) %></td>
        <td><%= link_to 'Destroy', commerce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

