<%= stylesheet_link_tag "commerces_show.css" %>
<p id="notice"><%= notice %></p>

<p>
	<strong>id:</strong>
	<%= @commerce.id %>
</p>
<p>
	<strong>line:</strong>
	<%= @commerce.line %>
</p>
<p>
	<strong>siret:</strong>
	<%= @commerce.siret %>
</p>
<p>
	<strong>enseigne:</strong>
	<%= @commerce.enseigne %>
</p>
<p>
	<strong>rasoc:</strong>
	<%= @commerce.rasoc %>
</p>
<p>
	<strong>date_deb_act:</strong>
	<%= @commerce.date_deb_act %>
</p>
<p>
	<strong>date_rad:</strong>
	<%= @commerce.date_rad %>
</p>
<p>
	<strong>code_ape:</strong>
	<%= @commerce.code_ape %>
</p>
<p>
	<strong>label_ape:</strong>
	<%= @commerce.label_ape %>
</p>
<p>
	<strong>zone_ape:</strong>
	<%= @commerce.zone_ape %>
</p>
<p>
	<strong>label_zone_ape:</strong>
	<%= @commerce.label_zone_ape %>
</p>
<p>
	<strong>street_num:</strong>
	<%= @commerce.street_num %>
</p>
<p>
	<strong>street_name:</strong>
	<%= @commerce.street_name %>
</p>
<p>
	<strong>sort_street_name:</strong>
	<%= @commerce.sort_street_name %>
</p>
<p>
	<strong>city_code:</strong>
	<%= @commerce.city_code %>
</p>
<p>
	<strong>city_label:</strong>
	<%= @commerce.city_label %>
</p>
<p>
	<strong>epci2014:</strong>
	<%= @commerce.epci2014 %>
</p>
<p>
	<strong>phone_num:</strong>
	<%= @commerce.phone_num %>
</p>
<p>
	<strong>fax_num:</strong>
	<%= @commerce.fax_num %>
</p>
<p>
	<strong>email:</strong>
	<%= @commerce.email %>
</p>
<p>
	<strong>street_number:</strong>
	<%= @commerce.street_number %>
</p>
<p>
	<strong>route:</strong>
	<%= @commerce.route %>
</p>
<p>
	<strong>city:</strong>
	<%= @commerce.city %>
</p>
<p>
	<strong>dptmt:</strong>
	<%= @commerce.dptmt %>
</p>
<p>
	<strong>region:</strong>
	<%= @commerce.region %>
</p>
<p>
	<strong>country:</strong>
	<%= @commerce.country %>
</p>
<p>
	<strong>postal_code:</strong>
	<%= @commerce.postal_code %>
</p>
<p>
	<strong>location_lat:</strong>
	<%= @commerce.location_lat %>
</p>
<p>
	<strong>location_lng:</strong>
	<%= @commerce.location_lng %>
</p>
<p>
	<strong>location_type:</strong>
	<%= @commerce.location_type %>
</p>
<p>
	<strong>google_place_id:</strong>
	<%= @commerce.google_place_id %>
</p>
<p>
	<strong>vp_ne_lat:</strong>
	<%= @commerce.vp_ne_lat %>
</p>
<p>
	<strong>vp_ne_lng:</strong>
	<%= @commerce.vp_ne_lng %>
</p>
<p>
	<strong>vp_sw_lat:</strong>
	<%= @commerce.vp_sw_lat %>
</p>
<p>
	<strong>vp_sw_lng:</strong>
	<%= @commerce.vp_sw_lng %>
</p>
<p>
	<strong>categorie:</strong>
	<%= @commerce.category_id %>
</p>
<p>
	<strong>sous-categorie:</strong>
	<%= @commerce.sscategory_id %>
</p>
<p>
	<strong>tag1:</strong>
	<%= @commerce.tag1 %>
</p>
<p>
	<strong>tag2:</strong>
	<%= @commerce.tag2 %>
</p>
<p>
	<strong>tag3:</strong>
	<%= @commerce.tag3 %>
</p>
<p>
	<strong>tag4:</strong>
	<%= @commerce.tag4 %>
</p>
<p>
	<strong>tag5:</strong>
	<%= @commerce.tag5 %>
</p>

<p>
	<strong>db_add_date:</strong>
	<%= @commerce.db_add_date %>
</p>



<%= link_to 'Edit', edit_commerce_path(@commerce) %> |
<%= link_to 'Back', commerces_path %>
