<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @magasin.nom %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @magasin.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @magasin.longitude %>
</p>

<%= link_to 'Edit', edit_magasin_path(@magasin) %> |
<%= link_to 'Back', magasins_path %>
