<p id="notice"><%= notice %></p>

<p>
  <strong>Fr:</strong>
  <%= @tuto.fr %>
</p>

<p>
  <strong>De:</strong>
  <%= @tuto.de %>
</p>

<p>
  <strong>Esp:</strong>
  <%= @tuto.esp %>
</p>

<p>
  <strong>En:</strong>
  <%= @tuto.en %>
</p>

<p>
  <strong>Page:</strong>
  <%= @tuto.page %>
</p>

<%= link_to 'Edit', edit_tuto_path(@tuto) %> |
<%= link_to 'Back', tutos_path %>
