<p id="notice"><%= notice %></p>

<p>
  <strong>Mail:</strong>
  <%= @token.mail %>
</p>

<p>
  <strong>Valeur:</strong>
  <%= @token.valeur %>
</p>

<p>
  <strong>Valide:</strong>
  <%= @token.valide %>
</p>

<%= link_to 'Edit', edit_token_path(@token) %> |
<%= link_to 'Back', tokens_path %>
