<header class="navbar navbar-fixed-top navbar-inverse">
    <%= link_to "Rennes en Poche", 'https://www.rennespoche.fr', id: "logo" %>
    <nav>
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <% if logged_in? %>
                    <% case current_user.status %>
                    <% when 'admin' %>
                        <%= render 'layouts/header/admin' %>
                    <% when 'promoted', 'merchant' %>
                        <%= render 'layouts/header/promoted' %>
                    <% when 'basic', 'user' %>
                        <%= render 'layouts/header/basic' %>
                    <% end %>
                <% else %>
                    <%= render 'layouts/header/index' %>
                <% end %>
            </ul>
        </div>
    </nav>
</header>
