<p id="notice"><%= notice %></p>

<h1>Parcours Predefinis</h1>

<table class="table tabled-bordered tabl-hover table-striped"> 
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Commerces</th>
	  <th>Nombre</th>
	  <th>Popularité</th>
	  <th>Fr</th>
	  <th>En</th>
	  <th>De</th>
	  <th>Esp</th>
	  <th>Visible</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parcours_predefinis.each do |parcours_predefini| %>
	<% i = 0 %>
      <tr>
        <td><%= parcours_predefini.name %></td>
        <td><%= parcours_predefini.description %></td>
        <td><%= parcours_predefini.image %></td>
		<td style="text-align:left">
		
			<% mags = parcours_predefini.commerces %>
			
			<% mags.each do |m| %>
				<%= Commerce.find_by(id: m).enseigne %><br/>
				<% i = i + 1 %>
			<% end %>
		
		</td>
		<td><%= i %></td>
		<td>
			<% if @totalclick == 0 %>
				<%= Aucun click effectué  %>
			<% else %>
				<%= ((parcours_predefini.stats.to_f / @totalclick.to_f) *100).to_s + "%" %>
			<% end %>
		
		
		</td>
        <td><%= parcours_predefini.fr %></td>
		<td><%= parcours_predefini.en %></td>
		<td><%= parcours_predefini.de %></td>
		<td><%= parcours_predefini.esp %></td>
		<td><%= parcours_predefini.visible %></td>
		<td><%= link_to 'Show', parcours_predefini %></td>
        <td><%= link_to 'Edit', edit_parcours_predefini_path(parcours_predefini) %></td>
        <td><%= link_to 'Destroy', parcours_predefini, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parcours predefini', new_parcours_predefini_path %>
