<div id="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @personalisee.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @personalisee.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="personalisee[language]" class="fieldLabel">Language</label>
            <input type="text" id="personalisee[language]" name="personalisee[language]" <%= placeholder("Language") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="personalisee[position]" class="fieldLabel">Position</label>
            <input type="text" id="personalisee[position]" name="personalisee[position]" <%= placeholder("Position") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="personalisee[tag1]" class="fieldLabel">Tag1</label>
            <input type="text" id="personalisee[tag1]" name="personalisee[tag1]" <%= placeholder("Tag1") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="personalisee[tag2]" class="fieldLabel">Tag2</label>
            <input type="text" id="personalisee[tag2]" name="personalisee[tag2]" <%= placeholder("Tag2") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="personalisee[tag3]" class="fieldLabel">Tag3</label>
            <input type="text" id="personalisee[tag3]" name="personalisee[tag3]" <%= placeholder("Tag3") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
