<h1>Editer un utilisateur.</h1>

<%= form_for(:updated, url: {:action => "updateuser" } , method: :patch ) do |f| %>
      <% if @usermod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usermod.errors.count, "error") %> prohibited this commerce from being saved:</h2>

      <ul>
      <% @usermod.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



      <%= f.label 'Username' %>
      <%= f.text_field :username, value: @usermod.username, class: 'form-control' %>

      <%= f.label 'Email' %>
      <%= f.text_field :email, value: @usermod.email, class: 'form-control' %>

      <%= f.label 'Droits' %></br>
      <%= f.select(:status) do %>
	  	<% [["basic", "basic"], ["promoted", "promoted"], ["admin", "admin"]].each do |c| %>
		<%= content_tag(:option, c.first, value: c.last) %>
		<% end %>
	  <% end %>
	

      <%= f.submit "Confirmer", class: 'btn-block btn btn-primary' %>

<% end %>
