<h1>Enregistrement</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label 'Nom d\'utilisateur' %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label 'Email' %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label 'Mot de passe' %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label 'Confirmation du mot de passe', "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn-block btn btn-primary" %>
    <% end %>
  </div>
</div>
