<li><%= button_to "MàJ", "/import",
	method: :get, class: 'btn btn-info' %></li>
<li><%= button_to "Appréciations", notes_path,
	method: :get, class: 'btn btn-info' %></li>
<li><%= button_to "Blacklist", blacklists_path,
	method: :get, class: 'btn btn-info' %></li>
<li><%= button_to "Parcours", parcours_predefinis_path,
	method: :get, class: 'btn btn-info' %></li>
<li><%= button_to "Categories", categories_path,
	method: :get, class: 'btn btn-info' %></li>
<li><%= button_to "Sous-Categories", sscategories_path,
	method: :get, class: 'btn btn-info' %></li>
<li><%= button_to "Signalement", resultats_path,
	method: :get, class: 'btn btn-info' %></li>
<li><%= button_to "Comptes", accounts_path,
	method: :get, class: 'btn btn-info' %></li>
<li><%= button_to "Statistiques", statmap_path,
	method: :get, class: 'btn btn-info' %></li>
<li><%= button_to "Commerces", current_user,
    method: :get, class: 'btn btn-primary' %></li>
<li><%= button_to "Deconnexion", logout_path,
    method: 'delete', class: 'btn btn-primary'%></li>
