<li><%= button_to "Tokens", tokens_path,
	method: :get, class: 'btn btn-info' %></li>
<li><%= button_to "Parcours", parcours_predefinis_path,
	method: :get, class: 'btn btn-info' %></li>
<li><%= button_to "Categories", categories_path,
	method: :get, class: 'btn btn-info' %></li>
<li><%= button_to "Sous-Categories", sscategories_path,
	method: :get, class: 'btn btn-info' %></li>
<li><%= button_to "Signalement", resultats_path,
	method: :get, class: 'btn btn-info' %></li>
<li><%= button_to "Comptes", accounts_path,
	method: :get, class: 'btn btn-info' %></li>
<li><%= button_to "Statistiques", statmap_path,
	method: :get, class: 'btn btn-info' %></li>
<li><%= button_to "Requête", promotions_path,
    method: :get, class: 'btn btn-info' %></li>
<li><%= button_to current_user.username, current_user,
    method: :get, class: 'btn btn-primary' %></li>
<li><%= button_to "Deconnexion", logout_path,
    method: 'delete', class: 'btn btn-primary'%></li>
