<p id="notice"><%= notice %></p>

<p>
  <strong>Siret:</strong>
  <%= @blacklist.siret %>
</p>

<p>
  <strong>Enseigne:</strong>
  <%= @blacklist.enseigne %>
</p>

<p>
  <strong>Rasoc:</strong>
  <%= @blacklist.rasoc %>
</p>

<%= link_to 'Edit', edit_blacklist_path(@blacklist) %> |
<%= link_to 'Back', blacklists_path %>
