<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @sscategory.nom %>
</p>

<p>
  <strong>Catparent:</strong>
  <%= @sscategory.catparent %>
</p>
<p>
  <strong>En:</strong>
  <%= @sscategory.en %>
</p>
<p>
  <strong>Esp:</strong>
  <%= @sscategory.esp %>
</p>
<p>
  <strong>De:</strong>
  <%= @sscategory.de %>
</p>
<%= link_to 'Edit', edit_sscategory_path(@sscategory) %> |
<%= link_to 'Back', sscategories_path %>
