<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @category.nom %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @category.reference %>
</p>
  <strong>En:</strong>
  <%= @category.en %>
</p>
  <strong>Esp:</strong>
  <%= @category.esp %>
</p>
  <strong>De:</strong>
  <%= @category.de %>
</p>
  <strong>Ko:</strong>
  <%= @category.ko %>
</p>
  <strong>Jap:</strong>
  <%= @category.jap %>
</p>






<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
