<div class="container">
    <div class="jumbotron">
        <div class="container">
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th>#</th>
                    <th>Siret</th>
                    <th>Utilisateur</th>
                    <th>Kbis</th>
                    <th>Pièce d'identité</th>
                </tr>
                <% @promotions.each do |promo| %>
                    <tr>
                        <td><%= promo.id %></td>
                        <td><%= promo.siret %></td>
                        <td><%= User.find(promo.user_id).username %></td>
                        <td><%= image_tag promo.kbis, size: "260x80" %></td>
                        <td><%= image_tag promo.rid, size: "260x80" %></td>
                        <td><%= link_to "Accept", paccept_path(promo.id) %></td>
                        <td><%= link_to "Decline", paccept_path(promo.id) %></td>
                    </tr>
                <% end %>
            </table>
        </div>
    </div>
