<p id="notice"><%= notice %></p>

<h1>Listing Phoneids</h1>

<table>
  <thead>
    <tr>
	  <th> UUID </th>
      <th>Info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phoneids.each do |phoneid| %>
      <tr>
	    <td><%= phoneid.id %></td>
        <td><%= phoneid.info %></td>
        <td><%= link_to 'Show', phoneid %></td>
        <td><%= link_to 'Edit', edit_phoneid_path(phoneid) %></td>
        <td><%= button_to 'Destroy', phoneid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phoneid', new_phoneid_path %>
