<p id="notice"><%= notice %></p>

<h1>Listing Sscategories</h1>

<table>
  <thead>
    <tr>
	<th>ID</th>
      <th>Nom</th>
      <th>Catparent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sscategories.each do |sscategory| %>
      <tr>
	<td><%= sscategory.id  %></td>
        <td><%= sscategory.nom %></td>
        <td><%= sscategory.catparent %></td>
        <td><%= link_to 'Show', sscategory %></td>
        <td><%= link_to 'Edit', edit_sscategory_path(sscategory) %></td>
        <td><%= button_to 'Destroy', sscategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Sscategory', new_sscategory_path %> -->
