<p id="notice"><%= notice %></p>

<h1>Listing Sscategories</h1>

<table class="table tabled-bordered tabl-hover table-striped" >
  <thead>
    <tr>
	<th>ID</th>
      <th>Nom</th>
      <th>Catparent</th>
	  <th>En</th>
	  <th>Esp</th>
	  <th>De</th>
	  <th>Stat</th> 
	  <th>Sous-menu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sscategories.each do |sscategory| %>
      <tr>
	<td><%= sscategory.id  %></td>
        <td><%= sscategory.nom %></td>		
        <td><%= Categorie.find(sscategory.catparent.to_i).nom %></td>
		<td><%= sscategory.en %></td>
		<td><%= sscategory.esp %></td>
		<td><%= sscategory.de %></td>
		<td><%= ((sscategory.stat.to_f / @max).to_f * 100).round %>% (<%= sscategory.stat  %> clicks)</td> 
		<td><%= sscategory.ssmenu %></td>
        <td><%= link_to 'Show', sscategory %></td>
        <td><%= link_to 'Edit', edit_sscategory_path(sscategory) %></td>
        <td><%= button_to 'Destroy', sscategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Sscategory', new_sscategory_path %> -->
