<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Reference</th>
	  <th>En</th>
	  <th>Esp</th>
	  <th>De</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
	<td><%= category.id %></td>
        <td><%= category.nom %></td>
        <td><%= category.reference %></td>
		<td><%= category.en %></td>
		<td><%= category.esp %></td>
		<td><%= category.de %></td>
        <td><%= link_to 'Show', category_path(category) %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', categories_path(category),  method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
