<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @category.nom %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @category.reference %>
</p>
<p>
  <strong>En:</strong>
  <%= @category.en %>
</p>
<p>
  <strong>Esp:</strong>
  <%= @category.esp %>
</p>
<p>
  <strong>De:</strong>
  <%= @category.de %>
</p>
<p>
  <strong>Visible</strong>
  <%= @category.visible %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
