<p id="notice"><%= notice %></p>

<h1>Appréciations des utilisateurs</h1>
<h5>Vous retrouverez ici la notre (sur 5), les commentaires et autres des utilisateurs. Ces informations sont conservées anonynement</h5><br/><br/>

<table class="table tabled-bordered tabl-hover table-striped">
  <thead>
    <tr>
      <th>Note</th>
      <th>Commerce</th>
      <th>Commentaire</th>
      <th>Idtel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.note %></td>
        <td><%= Commerce.select("enseigne").find_by(id: note.commerce).enseigne %></td>
        <td><%= note.commentaire %></td>
        <td><%= note.idtel %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
